$fuente-principal: 'Quicksand', sans-serif;
$fuente-secundaria: 'Montserrat', sans-serif;
$fuente-main: 'Gloria Hallelujah', cursive;
$color-fondo: #0a0a0a;
$color-textos: cornsilk;
$color-hover: peachpuff;
$text-transform: capitalize;
$anchoimg: 95%;
$tamaño-titulo: 85px;
$tamaño-subtitulo: 40px;