* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    height: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
}
body {
    background-image: url(https://i.ibb.co/tYvsN16/asfalt-2-X.png);
    background-color: $color-fondo;
    overflow-x: hidden;
}
a {
    color: $color-textos;  
    font-family: $fuente-secundaria;
    text-decoration: none;
    text-decoration: solid;
    size: 20px;

    &:hover {
        color: $color-hover;
    }
    &:active {
        color: burlywood;
    }
    &:visited {
        color: brown;
    }
}

