#main {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}
.main-secundario, .main-blog {
    margin-top: 40px;
}
section {
    padding-bottom: 15px;
    background-image: url(https://i.ibb.co/tYvsN16/asfalt-2-X.png);
}
